#app {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  font-family: 'EB Garamond', serif;
}

#b-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-component {
  flex: 0 0 33%;
}
