#mainDiv {
  display: flex;
  height: auto;
  justify-content: flex-start;
  font-family: 'EB Garamond', serif;
}

#bottom-links {
  position: fixed;
  bottom: 12px;
  right: 12px;
  font-family: 'EB Garamond', serif;
}

#bottom-links a {
  padding: 6px;
}

#story-display {
  max-height: 400px;
  overflow-y: auto;
}

#time-disp {
  margin-top: 0px;
  padding-bottom: 10px;
}

#leftSide {
  flex: 0 0 20%;
}

#centerSide {
  flex: 0 0 60%;
}

#rightSide {
  flex: 0 0 20%;
}

.main-component > div {
  margin: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
