<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edward - a (somewhat) plot driven incremental</title>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div id="mainDiv">
      <!--{{ message }}
      {{ player.wisdom }}-->
      <a-component></a-component>
      <div id="b-component" class="main-component">
        <b1-component></b1-component>
        <b2-component></b2-component>
      </div>
      <c-component></c-component>
    </div>
    <div id="time-disp">
      <!--This is a bit janky, but it works.
      Esentially, the time values are being modulo'd for display, while
      in reality they continue to grow unfettered.-->
      <p>Formatted Time: Day {{time_v.day}},
      <span v-if="time_v.hour % 24 < 10">0</span>{{time_v.hour % 24}}:<span v-if="time_v.minute % 60 < 10">0</span>{{time_v.minute % 60}}</p>
      <p>Raw Time: {{time_v.raw.toFixed(0)}} ticks (where 10 ticks = 1 second)</p>
    </div>
  </div>
</body>

<!--The order in which these files are loaded MATTERS A LOT-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/globals.js"></script>
<script src="js/components/base-component.js"></script>
<script src="js/components/main-components.js"></script>
<script src="js/components/tabs/resourcest.js"></script>
<script src="js/components/tabs/taskst.js"></script>
<script src="js/components/tabs/transmutationt.js"></script>
<script src="js/components/tabs/sleept.js"></script>
<script src="js/components/tabs/storyt.js"></script>
<script src="js/index.js"></script>

</html>
